/* login page */

.loginpage {
    background-image: url("../images/backgrnd2.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
.loginpage h3{
    text-align: center;
}

@media screen and (min-width:860px) {
    .my_login{
    position: relative;
    top:150px; left:100px;
    }
    .my_login h4{
    position: relative;
    left:150px
    }
    .my_login p {
    padding: 10px;
    }
}

@media screen and (max-width:859px)  {
    .my_login{
    position:relative
    }
    .my_login h4{
    position: relative;
    }
    .my_login p {
    padding: 10px;
    }

}